### Installs

In [ ]:
!pip install langdetect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 19.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from langdetect) (1.16.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993224 sha256=3826ea49cbb46086a07adaa82b13ec248df17b4408c543f0871e06582d73fcab
  Stored in directory: /root/.cache/pip/wheels/95/03/7d/59ea870c70ce4e5a370638b5462a7711ab78fba2f655d05106
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

### Imports

In [ ]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.tokenize import TweetTokenizer

In [ ]:
from langdetect import detect

### Input data

In [ ]:
inbound = pd.read_parquet('/content/drive/MyDrive/Projects/Case Studies/sentiment_analysis/amazonhelp_in.gzip')

In [ ]:
inbound.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,service_provider
182,270,115770,True,2017-11-22 09:24:30+00:00,@AmazonHelp ありがとうございます。\n今、電話で主人が対応していただいてます。,None,269.0,amazonhelp
183,271,115770,True,2017-11-22 09:30:36+00:00,@AmazonHelp 電話で対応してもらいましたが改良されませんでした。\n保証期間も過ぎ...,273,269.0,amazonhelp
185,274,115770,True,2017-11-22 09:44:04+00:00,@AmazonHelp こちらこそありがとうございました。,275,273.0,amazonhelp
322,616,115820,True,2017-10-31 23:22:08+00:00,@AmazonHelp 3 different people have given 3 di...,618,615.0,amazonhelp
324,619,115820,True,2017-10-31 23:32:26+00:00,@AmazonHelp I frankly don't have the patience ...,None,618.0,amazonhelp

In [ ]:
def remove_emojis(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u'\U00010000-\U0010ffff'
                               u"\u200d"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\u3030"
                               u"\ufe0f"
                               u"\u2069"
                               u"\u2066"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

inbound.loc[:,'text'] = inbound['text'].apply(remove_emojis)

In [ ]:
inbound.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,service_provider
182,270,115770,True,2017-11-22 09:24:30+00:00,@AmazonHelp \n,None,269.0,amazonhelp
183,271,115770,True,2017-11-22 09:30:36+00:00,@AmazonHelp \n,273,269.0,amazonhelp
185,274,115770,True,2017-11-22 09:44:04+00:00,@AmazonHelp,275,273.0,amazonhelp
322,616,115820,True,2017-10-31 23:22:08+00:00,@AmazonHelp 3 different people have given 3 di...,618,615.0,amazonhelp
324,619,115820,True,2017-10-31 23:32:26+00:00,@AmazonHelp I frankly don't have the patience ...,None,618.0,amazonhelp

In [ ]:
# remove non-english tweets
def is_english(text):
    try:
        return detect(text) == 'en'
    except:
        return False

inbound = inbound[inbound['text'].apply(is_english)]

In [ ]:
inbound.shape

(93907, 8)

In [ ]:
inbound.to_csv('/content/drive/MyDrive/Projects/Case Studies/sentiment_analysis/amazonhelp_preprocessed.csv')
inbound.to_parquet('/content/drive/MyDrive/Projects/Case Studies/sentiment_analysis/amazonhelp_preprocessed.gzip')